# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
*.un~

# Build Path of Test Fixtures
test/**/public
.gatsby-context.js
.DS_Store
public/
.cache/
.netlify

# IDE specific
.idea/
.vscode/
yarn.lock
package-lock.json
